
html * {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/* .ScoreBoard {
    display: flex;
    justify-content: center;
    font-family: "Score Board", sans-serif;
    text-align: center;
    background: #2c2c2c;
    color: #fd8049;
    text-shadow: 0 0 3px #fd8049;
    padding: 1rem 0;
}

.ScoreBoard h3 {
  margin: 0;
}

.ScoreBoard .teamStats {
  flex: 1;
} */

.Game {
  text-align: center;
}

.Team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
}

.Team .identity {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Team img {
  max-width: 200px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.versus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.versus h1 {
  font-family: againtsregular, oswald, sans-serif;
  font-size: 500%;
  color: #fc0;
  text-shadow: 2px 2px 0 black;
}

button {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #fc0;
  border: 0;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  box-shadow: 2px 2px 0 black;
}

img {
    width: 200px;
    height: 150px;
}